
body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}


.outer-div {
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 550px;
    border-radius: 4%;
    margin: auto;
    box-shadow: 5px 5px 30px hsl(214, 13%, 76%);
}

.title {
    color: hsl(218, 44%, 22%);
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding: 0px 30px;
    margin-top: 0px;
}
.text {
    margin-bottom: 30px;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    text-align: center;
    padding: 0px 50px;
  
}

img {
    height: 300px;
    border-radius: 4%;
    margin-bottom: 0px;
}

.attribution {
    margin-top: 20px;
}